__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.ipynb_checkpoints
.pytest_cache
.DS_Store
.ipynb
.ipython
notebooks/.ipynb_checkpoints
output/
results/
__pypackages__/
dist/
build/
*.egg-info/
.idea/